  
  <div>

<!--  <mat-list>
    <mat-list-item *ngFor='let p of promociones$ | async'>
    -->
      <div *ngFor='let p of promociones$ | async'>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Paesano</mat-card-title>
                <mat-card-subtitle>{{p.data.nombre}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{p.data.imagen}}" alt="imagen de comida">
            <mat-card-content>
              <p>
                {{p.data.descripcion}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)='comprar(p.id)'>COMPRAR</button>
              <button mat-button>REGALAR</button>
            </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>
<!--
    </mat-list-item>
  </mat-list>
-->



  <!--
  <pre>lista de promociones eliminadas</pre>
  <mat-list>
    <mat-list-item *ngFor='let p of promociones_eliminadas$ | async'>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h1 mat-line>{{p.data | json}}</h1>
        <p mat-line>
          <a routerLink='/sistema/restaurar/{{p.id}}'>R</a>
        </p>
    </mat-list-item>
  </mat-list>
-->
<!--
  <mat-list>

  <mat-list-item *ngFor="let p of promociones_eliminadas$ | async">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{p.data | json}}</h4>
    <p mat-line> {{p.data | json}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
</mat-list>

-->
</div>