.cabeceraContenido {
    padding: 40px 40px 0 40px;
    height: 45vh;  
    // background-color: #2196f3;
    // color: white;
  }
  
  
  .titulo {
    margin: 0 auto;
    font-size: 56px;
    font-weight: 300;
    text-align: center;
  }

  .textBajada {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
  }

  .btnPrincipal {
    display: flex;
    justify-content: center;
  }